<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Welcome to Express Pizza!</title>
</head>
<body>
    <h1>Welcome to Express Pizza</h1>
    <img src="https://cdn.pixabay.com/photo/2017/12/05/20/09/pizza-3000274_1280.jpg" height="200">

    <h2>Specialty Pizzas</h2>

    <ul>
        <li><a href="specialtypizza?name=Vegetarian+Pizza&price=15">Vegetarian Pizza</a></li>
        <li><a href="specialtypizza?name=Paleo+Pizza&price=18">Paleo Pizza</a></li>
        <li><a href="specialtypizza?name=Gluten+Free+Margherita+Pizza&price=20">Gluten Free Margherita Pizza</a></li>
    </ul>
    
    <h2>Custom Pizza</h2>
    <a href="custompizza">Build your own!</a>

    <h2>Leave a Review</h2>
    <a href="review">Click here to leave a review</a>

</body>
</html>